[submodule "modules/require"]
	path = modules/require
	url = https://github.com/jrburke/requirejs.git
[submodule "modules/require-jquery"]
	path = modules/require-jquery
	url = https://github.com/jrburke/require-jquery.git
[submodule "modules/backbone"]
	path = modules/backbone
	url = https://github.com/amdjs/backbone
[submodule "modules/underscore"]
	path = modules/underscore
	url = https://github.com/amdjs/underscore.git
[submodule "modules/json"]
	path = modules/json
	url = https://github.com/douglascrockford/JSON-js.git
[submodule "modules/backbone-localstorage"]
	path = modules/backbone-localstorage
	url = https://github.com/jeromegn/Backbone.localStorage
[submodule "modules/handlebars"]
	path = modules/handlebars
	url = https://github.com/wycats/handlebars.js.git
